body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #00f2fe;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#home {
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

#about {
    background: linear-gradient(to right, #667eea, #764ba2);
}

#services {
    background: linear-gradient(to right, #43e97b, #38f9d7);
}

#contact {
    background: linear-gradient(to right, #fa709a, #fee140);
}

h1 {
    font-size: 60px;
}

p {
    font-size: 22px;
}

button {
    padding: 12px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: black;
}
