body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    color: #38bdf8;
}

button {
    padding: 12px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

